/*
* @Author: Administrator
* @Date:   2017-02-07 15:14:01
* @Last Modified by:   Administrator
* @Last Modified time: 2017-02-07 16:53:25
*/
section .custom {
    padding: 30px 0 50px 0;
    background: #e7e5da;
    text-align: center;
    display: flex;
    justify-content:space-around;
}

section .custom p {
    font: normal 14px/24px "微软雅黑";
    color: #666;
    margin-top: 20px;
}
section .custom .content {
    width: 500px;
    padding-top: 25px;
    text-align: justify;
}

section .custom .customImg{
	display: flex;
	flex-wrap:wrap;
    width: 620px;
    margin-left: -20px;
    justify-content: space-around;
    align-content: space-around;
}


section .theme{
	padding: 50px 0 30px 0;
	width: 1190px;
    margin: 0 auto;
}

section .theme .themeItem{
	margin-top: 40px;
	display: flex;
	justify-content:space-around;
}

section .theme .themeItem .left{
	width: 258px;
    height: 230px;
}
section .theme .themeItem .right{
	width: 870px;
    height: 210px;
    padding-top: 20px;
    padding-right: 20px;
    overflow: hidden;
}

section .theme .themeItem .right h3{
	font: normal 28px/40px "微软雅黑";
    color: #000;
}
section .theme .themeItem .right .cont{
	padding-top: 15px;
	display: flex;
}
section .theme .themeItem .right .cont .txt{
	margin-left: 10px;
}
section .theme .themeItem .right .cont .txt p{
	font: normal 14px/22px "微软雅黑";
    color: #666;
    width: 780px;
}
section .theme .themeItem .right .cont .line{
	width: 68px;
    height: 1px;
    background: #cd9700;
    margin-top: 10px;
}
section .theme .themeItem:hover .right h3 {
    color: #cd9700;
    cursor: pointer;
}  
section .theme .themeItem .left a{
	display: block;
    width: 258px;
    height: 230px;
    position: relative;
}
section .theme .themeItem .left a:hover i {
    display: block;
    transition: all .5s ease;
}
section .theme .themeItem .left a i {
    display: none;
    position: absolute;
    width: 258px;
    height: 230px;
    top: 0;
    left: 0;
    background: url(../images/china/s22.png) no-repeat;
    z-index: 9;
}



.ovfHiden {
    overflow: hidden;
    height: 100%;
}

.swiperPop {
   	display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.85);
    z-index: 9999;
}

.swiperPop .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiperPop a.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 28px;
    height: 29px;
    display: block;
    vertical-align: middle;
    background: url(../images/collection/icon6a.png) no-repeat;
    overflow: hidden;
    text-indent: -999em;
    z-index: 999;
}

.swiperPop .buttonPrev {
    width: 48px;
    height: 50px;
    background: url(../images/collection/s24.png) no-repeat 0 0;
    margin-top: -25px;
    left: 0;
}
.swiperPop .buttonPrev:hover {
    background-position: 0 -50px;
}
.swiperPop .buttonNext {
    width: 48px;
    height: 50px;
    background: url(../images/collection/s24.png) no-repeat -48px 0;
    margin-top: -25px;
    right: 0;
}

.swiperPop .buttonNext:hover {
    background-position: -48px -50px;
}

.swiperPop .box {
    padding: 5px;
    background: #fafafa;
    position: relative;
    vertical-align: baseline;
}

.swiperPop .box .img {
    width: auto;
    height: auto;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
} 

 .swiperPop .box .img img {
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 100%;
} 

.swiperPop .box .con {
    text-align: left;
    padding: 15px 30px;
}

.swiperPop .box .con h3 {
    font: normal 20px/30px "微软雅黑";
    color: #000;
}

.swiperPop .box .con .orange {
    color: #cd9700;
}
.swiperPop .box .con p {
    font: normal 14px/22px "微软雅黑";
    color: #999;
}

.swiper-pagination{
	bottom: 25px !important;
}