/*
* @Author: Administrator
* @Date:   2017-02-06 18:51:02
* @Last Modified by:   Administrator
* @Last Modified time: 2017-02-07 14:41:14
*/

body{
	min-width: 1160px;
}
section{
	padding:50px 70px;
	min-width: 1160px;
}
section .forever .tit{
	text-align: center;
} 
section .forever .collections{
	padding-top: 30px;
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
	min-width: 1160px;
}
section .forever .collections .item{
	position: relative;
	margin-top: 14px;
}

section .forever .collections .h2{
	height: 42px;
    font: normal 16px/42px "微软雅黑";
    text-align: center;
    color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 9;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
}
section .forever .collections .together{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
}
.forever .collections .item a:hover .h2 {
    height: 100%;
    font-size: 20px;
    line-height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.forever .collections .item  a:hover .h2 i {
    display: block;
    width: 29px;
    height: 29px;
    background: url(../images/collection/s13.png) no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;

}


section .forever .collections .item1{
	width:284px;
	height: 284px;
}


/***大师作品***/

section .master{

	padding:60px 0;
	min-width: 1160px;

}


section .master .masterlist{
	height: 36px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
	margin:30px 0;
}

section .master .masterlist ul{
	display: flex;
}
section .master .masterlist ul li {
    height: 36px;
    line-height: 36px;
    background: url(../images/collection/s20.png) no-repeat center right;
}

section .master .masterlist ul li a {
    padding: 0 30px;
    height: 36px;
    display: block;
    font: normal 14px/36px "微软雅黑";
    color: #666;
}


section .master .masterlist ul li a:hover, a:active {
    color: #fafafa;
    background: #cd9700;
    text-decoration: none;
    outline: 0;
}
.cur{
	color: #fafafa !important;
    background: #cd9700;
}
section .master .masterWorks{
	display: flex;
}
section .master .masterWorks .works a {
    display: block;
    width: 680px;
    height: 400px;
    background: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
section .master .masterWorks .works a img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

section .master .masterWorks .cont{
	width: 450px;
    padding: 0 30px;
}
section .master .masterWorks .cont h3{
	font: normal 22px/36px "微软雅黑";
    color: #000;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 8px;
}

section .master .masterWorks .cont p{
	font: normal 14px/22px "微软雅黑";
    color: #666;
    margin: 15px 0;
    text-align: justify;
}
section .master .masterWorks .cont .other{
	display: flex;
}
section .master .masterWorks .cont .txt p{
	font: normal 12px/22px "微软雅黑";
    color: #999;
    margin: 0;
}
section .master .masterWorks .cont .other i {
    display: block;
    float: left;
    width: 14px;
    height: 13px;
    background: url(../images/collection/s21.png) no-repeat;
    margin-top: 5px;
}
section .exhibition .exhibitionCont .content{
	margin-top: 40px;
	display: flex;
}
section .exhibition .exhibitionCont .content .thumb {
    width: 380px;
    height: 260px;
}

section .exhibition .exhibitionCont .content .con {
    width: 750px;
    padding: 0 30px;
}
section .exhibition .exhibitionCont .content .con p {
    font: normal 14px/22px "微软雅黑";
    color: #666;
    margin: 4px 0;
}
section .exhibition .exhibitionCont .content .con p.t {
    color: #000;
    font-weight: bold;
    margin: 0;
}

section .exhibition .exhibitionCont .content .con h3 {
    font: normal 30px/32px "微软雅黑";
    color: #cd9700;
    border-bottom: 1px solid #eaeaea;
    padding-top: 8px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}















.ovfHiden {
    overflow: hidden;
    height: 100%;
}

.swiperPop {
   	display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.85);
    z-index: 9999;
}

.swiperPop .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiperPop a.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 28px;
    height: 29px;
    display: block;
    vertical-align: middle;
    background: url(../images/collection/icon6a.png) no-repeat;
    overflow: hidden;
    text-indent: -999em;
    z-index: 999;
}

.swiperPop .buttonPrev {
    width: 48px;
    height: 50px;
    background: url(../images/collection/s24.png) no-repeat 0 0;
    margin-top: -25px;
    left: 0;
}
.swiperPop .buttonPrev:hover {
    background-position: 0 -50px;
}
.swiperPop .buttonNext {
    width: 48px;
    height: 50px;
    background: url(../images/collection/s24.png) no-repeat -48px 0;
    margin-top: -25px;
    right: 0;
}

.swiperPop .buttonNext:hover {
    background-position: -48px -50px;
}

.swiperPop .box {
    padding: 5px;
    background: #fafafa;
    position: relative;
    vertical-align: baseline;
}

.swiperPop .box .img {
    width: auto;
    height: auto;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
} 

 .swiperPop .box .img img {
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 100%;
} 

.swiperPop .box .con {
    text-align: left;
    padding: 15px 30px;
}

.swiperPop .box .con h3 {
    font: normal 20px/30px "微软雅黑";
    color: #000;
}

.swiperPop .box .con .orange {
    color: #cd9700;
}
.swiperPop .box .con p {
    font: normal 14px/22px "微软雅黑";
    color: #999;
}

.swiper-pagination{
	bottom: 25px !important;
}