html,body{
	margin:0;
	padding:0;
	font-family: "microsoft yahei",Helvetica Neue , Helvetica , STHeiTi , sans-serif;
	overflow-x:hidden;
}

html,body,ul , li ,a, dl,dt,dd,ol, h1 , h2 , h3 , h4 , h5 , h6 , p , figure , form , fieldset , input , legend , textarea , button , blockquote , th , tr , td,xmp {
	padding:0;
	margin:0;
	word-break: break-all;
}
ul, li, dl, dt, dd {
    list-style: none;
}
b{
	font-weight: normal;
}

a{
	cursor: pointer;
	text-decoration: none;
}

button,input{
	outline: 0;
}
*{
	box-sizing: border-box;
}
img {
    vertical-align: middle;
}
body{
	min-width: 1000px;
	background: #fafafa;
}

section{
	min-height: 400px;
	min-width: 1000px;
}