/*
* @Author: Administrator
* @Date:   2017-02-07 17:34:53
* @Last Modified by:   Administrator
* @Last Modified time: 2017-02-07 19:33:34
*/
section{
	padding: 50px 0;
    padding-left: 0;
    width: 1190px;
    margin: 0 auto;
}
section .item{
	padding-top: 40px;
    font: normal 14px/20px "微软雅黑";
    color: #666;
    display: flex;
    justify-content:space-around;
}
section .left{
	width:100px;
}
section .item .left h3{
	float: right;
	font: normal 20px/24px "微软雅黑";
    padding-bottom: 10px;
    border-bottom: 3px solid #0f253a;
    color: #0e2439;
}
section .item .right .imglist{
	display: flex;
	justify-content:space-between;
}
section .item .right .content{
	padding-top: 10px;
	width: 1020px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 40px;
    font: normal 14px/20px "微软雅黑";
    color: #000;
}

section .item .right .content .tips{
	margin-top: 20px;
	color: #888;
    margin-right: 6px;
}
